body {
  font-family: "DIST Inking Regular", serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  background: #2f3136;
  overflow-x: hidden;
  overflow: hidden;
}
@font-face {
  font-family: 'DIST Inking Regular';
  src: url("11610.ttf?srf3rx") format("truetype");
  font-weight: normal;
  font-style: normal;
}
a{
	  color: #666666;
	text-decoration: none;
}
.contact:hover { color: #90bcd0; }

.img1 {
width: 1280px;
height: 850px;
position: absolute;
left: 0px;
top: 0px;
background-color:#fafafa;
border-radius: 0px;
}
.cont{
width: 100%;
height: 64px;
position: absolute;
left: 0px;
top: 0px;
background-color:eee;
border-radius: 0px;
box-shadow: 10px 10px 48px 3px #000000;
}
  .img1 {
 width: 100%;
height: 850px;
 }
.cont-text-play {
width: 250px;
height: 100%;
position: absolute;
left: 40%;
top: 0px;
background-color:#520100;
border-radius: 30px;
box-shadow: 10px 10px 48px 3px #000000;
}
.text{
	font-family: "DIST Inking Regular";
	position:absolute ;
	color:#ffffff;
	left: 730px;
    top: 250px;
	font-size: 100px;
}
.text1{
	font-family: "DIST Inking Regular";
	position:absolute ;
	color:#ffffff;
	left: 25px;
    top: -110px;
	font-size: 100px;
}
.text2{
	font-family: "DIST Inking Regular";
	position:absolute ;
	color:#ffffff;
	left: 30px;
    top: -95px;
	font-size: 90px;
}
.text3{
	font-family: "DIST Inking Regular";
	position:absolute ;
	color:#ffffff;
	left: 25px;
    top: -95px;
	font-size: 90px;
}
.data_player_1{
	position:absolute;
	left:520px;
	top:150px;
}
.data_player_2{
	position:absolute;
	left:760px;
	top:280px;
}
.data_player_3{
	position:absolute;
	left:240px;
	top:260px;
}
.data_player_4{
	position:absolute;
	left:-30px;
	top:510px;
}
.data_player_5{
	position:absolute;
	left:1000px;
	top:410px;
}
#started{

  	font-family: "DIST Inking Regular";
	position:absolute ;
	color:#213444;
	left: 730px;
    top: -100px;
	font-size: 70px;
}

#informat{
	font-family: "DIST Inking Regular";
	position:absolute ;
	color:#ffffff;
	left: 80px;
    top: -20px;
	font-size: 20px;
}
#phone_number{
  	font-family: "DIST Inking Regular";
	position:absolute ;
	color:#213444;
	left: 630px;
    top: 200px;
	font-size: 40px;
}
.dion{
	color: #666666;
	}
.toop1{
width: 80px;
height: 80px;
position: absolute;
left: 190px;
top: 30px;
background-color:#00000000;
border-radius: 100px;
}
#vk_number{
  	font-family: "DIST Inking Regular";
	position:absolute ;
	color:#213444;
	left: 650px;
    top: 250px;
	font-size: 40px;
}
.contact {
	position: absolute;
	text-transform: uppercase;
	font-size: 40px;
	vertical-align: top;
	left: 25%;
    top: 0%;
	color: #2f3136;
}
#black_bord{
	z-index: 0;
}
#black_bord_down{
	z-index: -2;
}
#black_bord_up{
	z-index: -1;
}
#bar { list-style:none;  }
#bar li { }

#bar li div.bottom { position:relative; margin:5px 0; width:100px;
	height:100px; -moz-border-radius: 100px/100px; -webkit-border-radius: 100px 100px; border-radius: 100px/100px;
	background:-moz-linear-gradient(-90deg, #97a7a9, #b8cbcd); background:-webkit-gradient(linear, 0 top, 0 bottom, from(#520100), to(#520100));
	-webkit-transition-property: width;
	-webkit-transition-duration: 2000ms;
}
#ipod div.top  { z-index:35; }
#ipod div.bottom  { z-index:34; height:250px; }
#ipod:hover div.top  { z-index:995; background-color:#520100; margin-left:470px; }
#ipod:hover div.bottom  { z-index:994; background-color:#520100; width:410px;
background:-moz-linear-gradient(-90deg, #520100, #520100); background:-webkit-gradient(linear, 0 top, 0 bottom, from(#520100), to(#520100));
	-webkit-transition-property: width;
	-webkit-transition-duration: 2000ms;}



#informat {color:#52010000;
    -webkit-transition-duration: 2000ms; }
#informat:hover  {color:#ffffff;
	-webkit-transition-duration: 2000ms; }

#informat1 {opacity: 0;
   -webkit-transition-duration: 500ms; }
#informat1:hover  {opacity: 1;
	-webkit-transition-duration: 500ms; }

#informat3 {opacity: 1;
   -webkit-transition-duration: 500ms; }
#informat3:hover  {opacity: 0;
	-webkit-transition-duration: 500ms; }

.informat1 {opacity: 0;
   -webkit-transition-duration: 500ms; }
.informat1:hover  {opacity: 1;
	-webkit-transition-duration: 500ms; }


#informat2 {opacity: 1;
   -webkit-transition-duration: 500ms; }
#informat2:hover  {opacity: 0;
	-webkit-transition-duration: 500ms; }
	
#informat33 {    z-index: -3;
   -webkit-transition-duration: 500ms; }
#informat33:hover  {    z-index: 1;
	-webkit-transition-duration: 500ms; }

